.details-container {
  display: grid;
  gap: 1rem;
  min-height: 100vh;
  height: 100dvh;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  padding: 0.7rem 2rem;
}

.doc-img-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  max-height: 500px;
  max-width: 700px;
}

.doc-img-container img {
  border-radius: 30px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
